In [ ]:
print("jjjj")

In [ ]:
print(12==12)

In [ ]:
a=13
b=13
c=a==b
print(c)
print(type(c))

In [ ]:
#1 variable can not start with numbers
9h="India"
print(9h)

In [ ]:
h9="India"
print(h9)

In [ ]:
#2) space is not allowed
h 9="India"
print(h 9)

In [ ]:
#3)
_First_name="777"
print(_First_name)

In [ ]:
#4)
a=10
a=1.5
print(a)

In [ ]:
A=10
print(A)

In [ ]:
b="999"
print(b)

In [ ]:
#Type casting
#implicit type cating
s=10
v=12.8
print(s+v)

In [ ]:
s=10
v="12.8"
v1=float(v)
print(s+v1)

In [ ]:
s=10
print(type(s))

In [ ]:
v="12.8"
print(type(v))

In [ ]:
v1=float(v)
print(type(v1))

In [ ]:
s="Amol "#S
v="12.8"#F

print(s+v)

In [ ]:
i=int(input("Enter number"))
print(i)
print(i+i)

In [ ]:
i=int(input("Enter number"))
print("My new number is",i)
print("Addition if 2 numbers is", i+i)

In [ ]:
i=int(input("Enter number "))
j=float(input("Enter another number "))

print("Addition if 2 numbers is", i+j)

In [ ]:
i=str(input("Enter name"))
print("My name is",i)
print("Addition if 2 numbers is", i+i)

In [ ]:
i=input("Enter name")
print("My no is",i)
print("concatnation of 2 numbers is", i+i)

In [ ]:
i=input()
print("My name is",i)

In [ ]:
a=3
b=5
print(a&b)

In [ ]:
a=3
b=5
print(a|b)

In [ ]:
a=6
b=7
print(a^b)

In [ ]:
print(9>>1)

In [ ]:
print(14<<1)

In [ ]:
print(14<<2)

In [ ]:
x=5
print(x>10 and x>3)

In [ ]:
x=5
print(x>1 and x>3)

In [ ]:
x=5
print(x>10 or x>3)

In [ ]:
x=5
print(not(x>10 or x>3))

In [ ]:
if x>5:
    print("Number is greater thn 5")
    
else:
    print("Not")

In [ ]:
a=10
if a:
    print("True")

In [ ]:
a=10
if not a:
    print("True")
else:
    print(False)

In [ ]:
if not (a%3 == 0 or a%5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

In [ ]:
x=["a","B"]
y=["a","B","c"]
z=x
print(x is z)

In [ ]:
x=["a","B"]
y=["a","B","c"]
z=x
print(x is y)

In [ ]:
if not (a%3 == 0 or a%5 == 0):
    print("10 is not divisible by either 3 or 5")

In [ ]:
age=int(input("enter age"))
if age>=18:
    print("you can vote")
else:
    print("NOt")

In [ ]:
number=int(input("Enter number"))
if (number%2 == 0):
    print("Even Number") 
elif (number == 0):
    print("Number is zero")
elif (number > 0):
    print("positive number")
elif (number <0):
    print("-ve")
else:
    print("Odd numbers")

In [ ]:
number=int(input("Enter number"))
if (number%2 == 0):
    print("Even Number") 
if (number == 0):
    print("Number is zero")
if (number > 0):
    print("positive number")
if (number <0):
    print("-ve")
if (number%2 == 0):
    print("even")
else:
    print("not useful")

In [ ]:
number=int(input("Enter number"))
if (number > 0):
    print("positive number")
    if (number%2 == 0):
        print("Even Number") 
    else:
        print("odd")
else:
    print("-ve")

In [ ]:
a="I love India! 2024"
a

In [ ]:
p="India"
p[4]

In [ ]:
p="India"
p[-3]

In [ ]:
p[2]

In [ ]:

var1 = 'Hello World!'
var2 = "Python Programming"
print ("var1[0]: ", var1[0])

In [ ]:
print ("var2[1:5]: ", var2[1:5])

In [ ]:


print (var2[7:18])

In [ ]:
print (var2[4:10])

In [ ]:

var1 ="Python Programming"
print(var1[-5:-1])

In [ ]:
print(var1[-11:])

In [ ]:
st="Hello world!"
st[0:]

In [ ]:
st[::-1]

In [ ]:
len(var1)

In [ ]:
txt = 'one one was a race horse, two two was one too.'
txt.replace('one','three')

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("e",2)
x

In [ ]:
txt = "Company12"
x = txt.isalnum()
x

In [ ]:
count=0
txt = "Hello, welcome to my world."
for i in txt:
    if i=="e":
       count=count+1
print(count)

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
x

In [ ]:
x = txt.split(", ",maxsplit = 1)
x

In [ ]:
myTuple = ("John", "Peter", "Vicky")
"&".join(myTuple)

In [ ]:
myTuple = ("John", "Peter", "Vicky")
"#".join(myTuple)

In [ ]:
myTuple = ("John", "Peter", "Vicky")
" ".join(myTuple)

In [ ]:
s = "aaa,bbb,ccc,dd      " 
s.rstrip()

In [ ]:
s = "     aaa,bbb,ccc,dd      " 
s.lstrip()

In [ ]:
s = "     aaa,bbb,ccc,dd      " 
s.strip()

In [ ]:
s="Start"
s.startswith("S")

In [ ]:
s="Start"
s.endswith("o")

In [ ]:
txt = "banana"
x = txt.center(80)
print(x)

In [ ]:
txt = "banana"
x = txt.center(80,"O")
print(x)

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

Homework:
1) Write a python program to get a word as input and access and display each letter of the word in a new line. 

2) Write a program to create a mirror image of the given string. For example, “wel” = “lew“.

In [ ]:
print("I am from Mumbai.\nI love my country")

In [ ]:
print("I am from Mumbai.\t \tI love my country")

In [ ]:
print("I am from Mumbai.  I love my country")

In [ ]:
for i in range(10):
    print("Nikanksha")

In [ ]:
for i in range(1,10):
    print(i,"Nikanksha")

In [ ]:
for i in range(3,10):
    print(i)

In [ ]:
for i in range(0,10,2):#start ,stop,step
    print(i)

In [ ]:
d="India"
for i in d:
    print(d)

In [ ]:
d="India"
for i in d:
    print(i)

In [ ]:
d="India"
for i in range(len(d)):
    print(i)

In [ ]:
fruit=["Apple","Banana","Cherry"]
for i in fruit:
    print(i)

In [ ]:
fruit=["Apple","Banana","Cherry"]
for i in range(len(fruit)):
    print(fruit[i])

In [ ]:
count=0
while count<10:
    print(count)
    count=count+1

In [ ]:
count=0
while count<=10:
    print(count)
    count=count+1

In [ ]:
count=10
while count >0:
    print(count)
    count=count-1

In [ ]:
for i in range(100):
    if i==15:
        break
    print(i)

In [ ]:
for i in range(20):
    if i==15:
        continue
    print(i)

In [ ]:
for i in range(10):
    if i==1:
       pass 
    else:
        print(i)

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
         print(i*j,end="\t")
    print()

In [ ]:

for i in range(0,6):
    for j in range(1, i + 1):
        print("*", end=" ")
    print(' ')

In [ ]:
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print(' ')

In [ ]:
for i in range(3):
    for j in range(5):
        print("*" , end=" ")
    print()

In [ ]:
for i in range(3):
    for j in range(5):
        if(i==0 or i == 2 or j == 0 or j == 4):
            print("*" , end=" ")
        else:
            print(" ", end=" ")
    print()

In [ ]:
rows = 5
# outer loop
for i in range(5):
    # inner loop
    for j in range(i + 1):
        print("*", end=" ")
    print(' ')

In [ ]:
for i in range(6):
    for j in range(6-i):
        print("*" , end=" ")
    print()

In [ ]:
for i in range(6):
    for j in range(6-i):
        if ( i == 0 or i == 5 or j == 0 or j == 6-i-1):
            print("*" , end=" ")
        else :
            print(" " , end = " ")
    print()

In [ ]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end="")
    for k in range(i+1):
        print("*" , end=" ")
    print( )
for i in range(5):
    for j in range(i):
        print(" " , end="")
    for k in range(5-i):
        print("*" , end=" ")
    print( )

In [ ]:
Home work:

In [ ]:
l=[11,44,5,6,7]
l

In [ ]:
l=[11,44,5,6,7,"apple",True,44,0]
l

In [ ]:
Marks = [10, 23, 41, 75]
i = 0
while i < 4:
    print (Marks[i],end=' \t')
    i = i + 1

In [ ]:
Marks = [10, 23, 41, 75]
i = 0
while i < 4:
    print (i,end=' \t')
    i = i + 1

In [ ]:
Marks = [10, 23, 41, 75]
i = 0
while i < 4:
    print (Marks,end=' \t')
    i = i + 1

In [ ]:
i = -1
while i >= -4:
    print (Marks[i])
    i = i + -1

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
list[1]=888
list

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
list[2]="Nik"

In [ ]:
list

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
list[1:3]=["Nik","Jain"]
list

In [ ]:
list[1:3]=[]
list

In [ ]:
list[:]=[]
list

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
list.append("new")
list

In [ ]:
list.append(["new1","new2"])

In [ ]:
list

In [ ]:
list[6]

In [ ]:
list[6][1]

In [ ]:
list.extend([1,2,3])
list

In [ ]:
list.insert(0,"India")
list

In [ ]:
list.remove(2.23)
list

In [ ]:
list.remove("aaaa")
list

In [ ]:
list1=[1,1,1,1,2,3,4,4]
list1.count(1)

In [ ]:
list1.index(2)

In [ ]:
list1.reverse()
list1

In [ ]:
list1.sort()
list1

In [ ]:
list1.sort(reverse=True)
list1

In [ ]:
list1.sort(reverse=False)
list1

In [ ]:
list1.pop(2)
list1

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

In [ ]:
#tuple
t=(1,"India",34.7,True,34.7)
t

In [ ]:
t[0]

In [ ]:
t[0]="abc"
t

In [ ]:
t1=()

t1[0]="uuuu"

t1

In [ ]:
a=10
a=5
print(a)

In [ ]:
t1=("Apple")
print(type(t1))

In [ ]:
t1=("Apple",)
print(type(t1))

In [ ]:
t1="Apple","banana"
print(type(t1))

In [ ]:
a=["hhhh"]
print(type(a))

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

In [ ]:
a=("apple","Banana","Cherry")
a

In [ ]:
a=("apple","Banana","Cherry")
x,y,z=a
print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

In [ ]:
# Max and Min

In [ ]:
s={"dddd",2.4,True}
s

In [ ]:
s=set()
print(type(s))

In [ ]:
print(len(s))

In [ ]:
s.add("orange")
s

In [ ]:
s1={"apple","Banana","cherry"}
s2={"apple","mango","kiwi"}
s1.update(s2)
s1

In [ ]:
s1.remove("Banana")
s1

In [ ]:
s1.discard("kiwi")
s1

In [ ]:
s1.pop()
s1

In [ ]:
s1.clear()

In [ ]:
s1

In [ ]:
del s1

In [ ]:
s1

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
set1

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.intersection(y)
print(z)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
x

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.symmetric_difference(y)
z

In [ ]:
# set MCQ

In [ ]:
a="Apple"
b="Banana"


a,b="Apple","Banana"


t1=("Apple","Banana")
t1

In [ ]:
a,b=t1
a

In [ ]:
b

In [ ]:
a,b=("Apple","Banana")

In [ ]:
list1=str(input("Enter elements"))
print(type(list1))

In [ ]:
l1=[]
for i in range(5):
    list1=str(input("Enter elements"))
    l1.append(list1)
    print(l1)

In [ ]:
l1=[2,3,4,5,"iii"]

In [ ]:
dic={"student_id":"a1","Student_name":"shilpi","age":15}
dic

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": ["Ford","bmw","volvo"],
  "model": ["Mustang","pppp","qqqq"],
  "year": [1964,1990,2000]
}
print(thisdict)

In [ ]:
thisdict["brand"]

In [ ]:
thisdict.get("brand")

In [ ]:
thisdict.keys()

In [ ]:
thisdict.values()

In [ ]:
thisdict.items()

In [ ]:
thisdict["brand"]="lllll"
thisdict

In [ ]:
thisdict.update({"date":21})
thisdict

In [ ]:
thisdict.update({"date":30})
thisdict

In [ ]:
thisdict.update({"date":31})
thisdict

In [ ]:
thisdict["date"]="01"
thisdict

In [ ]:
thisdict.pop("data")

In [ ]:
thisdict

In [ ]:
thisdict.clear()

In [ ]:
del thisdict["brand"]
thisdict

In [ ]:
del thisdict

In [ ]:
thisdict

In [ ]:
thisdict.clear()
thisdict

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year":2020
}
print(thisdict)

In [ ]:
for i in thisdict:
    print(thisdict[i])

In [ ]:
for i in thisdict:
    print(i)

In [ ]:
for i in thisdict:
    print(thisdict)

In [ ]:
for i in thisdict.keys():
    print(i)

In [ ]:
for i in thisdict.values():
    print(i)

In [ ]:
for i in thisdict.items():
    print(i)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

In [ ]:
print(myfamily["child2"]["name"])

In [ ]:
d={40:"john",50:"petter"}
40 in d

In [ ]:
d={}
d

In [ ]:
numbers = {}
letters = {}
comb = {}
numbers[1] = 56
numbers[3] = 7
letters[4] = 'B'
comb['Numbers'] = numbers
comb['Letters'] = letters
print(comb)
#a)	Error, dictionary in a dictionary can’t exist
#b)	‘Numbers’: {1: 56, 3: 7}
#c)	{‘Numbers’: {1: 56}, ‘Letters’: {4: ‘B’}}
#{‘Numbers’: {1: 56, 3: 7}, ‘Letters’: {4: ‘B’}}

In [ ]:
score = {}
num = int(input("Enter the number of subjects : "))
for i in range(num):
    subject = input("Enter the name of the subject :")
    marks = int(input("Enter the marks :"))
    score[subject] = marks
print(score)
print("Total marks :" , end=" ")
print(sum(score.values()))

In [ ]:
# Marks of first student
marks1 = {"Math" : 100 , "Science" : 99 , "English" : 92}
# Marks of second student
marks2 = {"Math" : 90 , "Science" : 89 , "English" : 99}
# Marks of third student
marks3 = {"Math" : 94 , "Science" : 91 , "English" : 95}


# Marks of all the students with student names
students = {"student1" : marks1 , "student2" : marks2 , "stdents3" : marks3}
print(students)

In [ ]:
def display():
    print("This is Nikanksha Jain")
    
    
display()

In [ ]:
def display():
    a=int(input("Enter number"))
    b=int(input("Enter 2nd number"))
    print("Addition of two number is :"a+b)
    
    
display()

In [ ]:
def display():
    print("Addition of two number is :",12+13)
    
    
display()

In [ ]:
def add(a,b):
    print("Addition of two number is :",a+b)
    
    
a=int(input("Enter number "))
b=int(input("Enter 2nd number "))    
add(a,b)

In [ ]:
def add(a,b):
    print("Addition of two number is :",a+b)
    
    
x=int(input("Enter number "))
y=int(input("Enter 2nd number "))    
add(x,y)

In [ ]:
def add(a=33,b=66):
    print("Addition of two number is :",a+b)
    
    
  
add()

In [ ]:
def add(a,b):
    print("Addition of two number is :",a+b)
    
    
y=int(input("Enter 2nd number "))    
add(x,y)

In [ ]:
def add(p=8,q=9):
    print("Addition of two number is :",p+q)
    
    
p=int(input("Enter number "))    
q=int(input("Enter number "))  
add(p,q)

In [ ]:
def add(p=8,q=9):
    print("Addition of two number is :",p+q)
    
    
  
add()

In [ ]:
def add(a1,b1):
    print("Addition of two number is :",a+b)
    
    
y1=int(input("Enter 2nd number "))    
add(x1,y1)

In [ ]:
def print_student_marks( name,*student_marks): 
    print(name) 
    for marks in student_marks: 
        print(marks) 
        
        
        
        
# function invocation 
print_student_marks('xyz', 90,99,100) 
print_student_marks('abc', 90, 88)

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a,b : a + b
print(x(5,11))

In [ ]:
x = lambda p,r,t : (p*r*t)/100
print(x(1000,5,2))

In [ ]:
def myfunc(n):
    return lambda a : a * n




mydoubler = myfunc(2)
print(mydoubler(11))

In [ ]:
mytripler = myfunc(3)
print(mytripler(11))

In [ ]:
def add(a,b):
    c=a+b
    return(c)
    
    
    
x=add(1,2)
print(x)

In [ ]:
def add(a,b):
    c=a+b
    print(c)
    
    
    
add(1,2)

In [ ]:
def add(a,b):
    c=a+b
    return(c)
    
    
    
print(add(1,2))

In [ ]:
string = "Tata"
 
def test(string):
    string = "I love Tata"
    print("Inside Function:", string)
 
# Driver's code
test(string)
print("Outside Function:", string)

In [ ]:
def add_more(list):
    list.append(50)
    print("Inside Function", list)
 
# Driver's code
mylist = [10, 20, 30, 40]
 
add_more(mylist)
print("Outside Function:", mylist)

In [ ]:
a = 99 # Global variable 
def func(): 
    a= 88#Local variable
    print(a) 
func() 
print(a)

In [ ]:
a=99
def fun():
    global a
    a=88
    print(a)#88
    
fun()
print(a)#99

In [ ]:
print("Nikanksha")

In [ ]:
def calculateSquare(n): 
 return n*n


numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)
# converting map object to list
numbersSquare = list(result)
print(numbersSquare)

In [ ]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x*x, numbers)
print(result)
# converting map object to set
numbersSquare = list(result)
print(numbersSquare)

In [ ]:
ages = [5, 12, 17, 18, 24, 32]
def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

In [ ]:
import functools
# initializing list
lis = [1, 3, 5, 6, 2]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

In [ ]:
import random

In [ ]:
a=["head","Tail"]
flip=random.choice(a)
print(flip)

In [ ]:
A0 = dict(zip(('a','b','c','d','e'),(1,2,3,14,15)))
A0

In [ ]:
A1 = range(10)
A1

In [ ]:
A2 = sorted([i for i in A1 if i in A0])
A2

In [ ]:
A3 = sorted([A0[s] for s in A0])
A3

In [ ]:
A5 = {i:i*i for i in A1}
A5

In [ ]:
A6 = [[i,i*i] for i in A1]
A6

In [2]:
print(".....Pizza Menu...")
print("1. Farm house \n2.otc pizza \n3. cheese pizza")
choice =int(input("Enter number"))
if choice == 1:
    print("You have selected farm house ")
    print()
    print("Select your crust")
    print("1.pan \n2. thin")
    crust=input("Enter crust")
    if crust ==1:
        print("you have slected pan crust")
    else:
        print("you have slected thin crust")
    print()
    print("Select your toppings")

.....Pizza Menu...
1. Farm house
2.otc pizza
3. cheese pizza
Enter number1
You have selected farm house

Select your crust
1.pan
2. thin
Enter crust1
you have slected thin crust

Select your toppings

In [3]:
class sample:
    x=10
    y=20
    

s=sample()
print(s.x)
print(s.y)
print(s.x+s.y)

10
20
30

In [4]:
class Student:
     mark1, mark2, mark3 = 45, 91, 71 
     def process(self): 
          sum = Student.mark1 + Student.mark2 + Student.mark3
          avg = sum/3
          print("Total Marks = ", sum)
          print("Average Marks = ", avg)
          return
        
        
        
S=Student()
S.process()

Total Marks =  207
Average Marks =  69.0

In [5]:
class Student:
     mark1, mark2, mark3 = 45, 91, 71 
     def process(self):                             
          sum = self.mark1 + self.mark2 + self.mark3
          avg = sum/3
          print("Total Marks = ", sum)
          print("Average Marks = ", avg)
          
        
        
        
S=Student()
S.process()

Total Marks =  207
Average Marks =  69.0

In [6]:
class Sample:
    
    def __init__(self, num):
        print("Constructor of class Sample...")
        #self.num=num
        print("The value is :",num)
        
        
        
        
        
S=Sample(10)

Constructor of class Sample...
The value is : 10

In [10]:
class Parent:
    def func1(self):
        print("This function is in parent class.")
 
# Derived class
 
class Child(Parent):
    def func2(self):
        print("This function is in child class.")
 
# Driver's code
object = Child()
object.func1()
object.func2()

This function is in child class.

In [9]:
o = Parent()
o.func1()

This function is in parent class.

In [11]:
# Base class1
class Mother:
    mothername = ""
    def mother(self):
        print(self.mothername)
 
# Base class2
class Father:
    fathername = ""
    def father(self):
        print(self.fathername)
 
# Derived class
class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
 
# Driver's code
s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA

In [12]:
class Grandfather:
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername
 
# Intermediate class
class Father(Grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
        # invoking constructor of Grandfather class
        Grandfather.__init__(self, grandfathername)
 
# Derived class 
class Son(Father):
    def __init__(self, sonname, fathername, grandfathername):
        self.sonname = sonname
        # invoking constructor of Father class
        Father.__init__(self, fathername, grandfathername)
    def print_name(self):
        print('Grandfather name :', self.grandfathername)
        print("Father name :", self.fathername)
        print("Son name :", self.sonname)
 
 
#  Driver code
s1 = Son('Prince', 'Rampal', 'Lal mani')
print(s1.grandfathername)
s1.print_name()

Lal mani
Grandfather name : Lal mani
Father name : Rampal
Son name : Prince

In [13]:
class Parent:
    def func1(self):
        print("This function is in parent class.")
# Derived class1
class Child1(Parent):
    def func2(self):
        print("This function is in child 1.")
# Derivied class2
class Child2(Parent):
    def func3(self):
        print("This function is in child 2.")
# Driver's code
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.

In [14]:
class School:
    def func1(self):
        print("This function is in school.")
 
class Student1(School):
    def func2(self):
        print("This function is in student 1. ")
 
 
class Student2(School):
    def func3(self):
        print("This function is in student 2.")
 
class Student3(Student1, School):
    def func4(self):
        print("This function is in student 3.")
# Driver's code
object = Student3()
object.func1()
object.func2()

This function is in school.
This function is in student 1.

In [16]:
class India:
    def capital(self):
        print("New Delhi is the capital of India.")
 
    def language(self):
        print("Hindi is the most widely spoken language of India.")
 
    def type(self):
        print("India is a developing country.")
 
class USA:
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
 
    def language(self):
        print("English is the primary language of USA.")
 
    def type(self):
        print("USA is a developed country.")
 
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()
    country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [17]:
class Base:
    def __init__(self):
  
        # Protected member
        self._a = 2
  
# Creating a derived class
class Derived(Base):
    def __init__(self):
  
        # Calling constructor of
        # Base class
        Base.__init__(self)
        print("Calling protected member of base class: ", 
              self._a)
  
        # Modify the protected variable:
        self._a = 3
        print("Calling modified protected member outside class: ",
              self._a)
  
  
obj1 = Derived()
  
obj2 = Base()
  
# Calling protected member
# Can be accessed but should not be done due to convention
print("Accessing protected member of obj1: ", obj1._a)
  
# Accessing the protected variable outside
print("Accessing protected member of obj2: ", obj2._a)

Calling protected member of base class:  2
Calling modified protected member outside class:  3
Accessing protected member of obj1:  3
Accessing protected member of obj2:  2